.venv

dataset
report_1031
reference/faq
reference/finance
reference/insurance

Context Doc
test.ipynb
test.py
image_file.json
tfidf.csv

__pycache__
image_file.txt
output.csv
finance_embeddings.csv
embeddings
flash_attn-2.6.3+cu123torch2.4cxx11abiTRUE-cp311-cp311-linux_x86_64.whl

.pdf
missmatch

main.py
retrievers.py